/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* common css */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.layout {
  width: 900px;
  margin: 0 auto;
}
.button {
  display: inline-block;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  background-color: rgba(254, 209, 54);
  border-radius: 3px;
  color: #fff;
}
.button:hover {
  background-color: rgb(254, 197, 3);
}
.social-btn a {
  display: inline-block;
  margin: 10px 5px;
  width: 38px;
  height: 38px;
  background-color: #000;
  border-radius: 50%;
}
.social-btn a:hover {
  background-color: rgb(254, 209, 54);
}
.social-btn i {
  padding: 8px;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
}
body {
  font: 14px/1.5 Arial;
  background-color: #fff;
  color: #444;
}